.body {
  font-size: 56px;
  font-family: sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  height: 150px;
  display: flex;
  flex-direction: row;
}

.tab-contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-icon {
  height: 150px;
  width: 150px;
}

.user-icon > img {
  height: 100%;
  width: 100%;
}

.tabs {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
}

.tab {
  flex-grow: 1;
  border: solid black 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab[selected] {
  border-bottom-style: none;
}

.tab.add-meal {
  background-color: lightgreen;
}

.tab.create-meal {
  background-color: lightblue;
}

.tab.stats {
  background-color: lightyellow;
}

.tab-content {
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tab-content:not([selected]) {
  display: none;
}

.tab-content[selected] {
  display: flex;
}

.tab-content.add-meal {
  background-color: lightgreen;
}

.tab-content.create-meal {
  background-color: lightblue;
}

.tab-content.stats {
  background-color: lightyellow;
}

.meals {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.meal {
  width: calc(50% - 2 * 2px - 5px * 2 - 5px * 2);
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.meal-header {
  font-size: 0.8em;
  font-weight: bold;
}

.meal-contents {

}

.meal-content {
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
}

.meal-content-name {
  flex-grow: 1;
}

.meal-content-amount {
  color: darkgrey;
}

.create-meal > input {
  font-size: 0.9em;
  border: none;
  border-radius: 0.2em;
}

.ingredients {
  flex-grow: 1;
}

.add-ingredient-btn {
  font-size: 0.8em;
  margin-top: 0.2em;
  padding: 0.1em;
  border: solid darkgreen 2px;
  border-radius: 0.4em;
  background-color: lightgreen;
}

.ingredient {
  margin-top: 0.2em;
  padding: 0.1em;
  border: solid black 2px;
  border-radius: 0.4em 0;
  background-color: white;
  display: flex;
  flex-direction: row;
}

input.ingredientName {
  font-size: 0.9em;
  flex-grow: 1;
  border: none;
}

input.ingredientAmount {
  font-size: 0.9em;
  border: none;
  width: 100%;
  text-align: right;
}

.create-meal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-meal-btns > button {
  margin: 0.1em;
  font-size: 1em;
  border: solid black 2px;
  border-radius: 0.2em;
}

.add-template {
  background-color: skyblue;
}

.eaten {
  background-color: lightgreen;
}

.histogram {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: solid black 2px;
  margin: 0 1.5em 1.5em;
}

.stat {
  border: solid black 2px;
  border-radius: 0.2em;
  width: 100px;
}

.stat-text {
  position: relative;
}

.stat-text.meat {
  bottom: -400px;
}

.stat-text.carbs {
  bottom: -500px;
}

.stat-text.greens {
  bottom: -200px;
}

.stat.meat {
  background-color: brown;
  height: 400px;
}

.stat.carbs {
  background-color: yellow;
  height: 500px;
}

.stat.greens {
  background-color: lightgreen;
  height: 200px;
}

.other-stats {
  flex-grow: 1;
}

.warning::before {
  content: url('warning.png');
}

.warning {
  color: darkred;
}

.suggestion::before {
  content: url('suggestion.gif');
}

.suggestion {
  color: green;
}
